@theme {
--n00: #000000;
--n01: #000000;
--n02: #000000;
--n03: #000000;
--n04: #000000;
--n05: #000001;
--n06: #000101;
--n07: #010102;
--n08: #010203;
--n09: #020304;
--n10: #020405;
--n11: #030507;
--n12: #040609;
--n13: #05080b;
--n14: #060a0e;
--n15: #080c10;
--n16: #090e13;
--n17: #0b1016;
--n18: #0d1318;
--n19: #0f151b;
--n20: #11171e;
--n21: #131920;
--n22: #151c23;
--n23: #171e26;
--n24: #192129;
--n25: #1b232c;
--n26: #1d262f;
--n27: #1f2832;
--n28: #212b35;
--n29: #232d38;
--n30: #25303b;
--n31: #28323e;
--n32: #2a3541;
--n33: #2c3744;
--n34: #2e3a47;
--n35: #303d4a;
--n36: #333f4d;
--n37: #354250;
--n38: #374553;
--n39: #394857;
--n40: #3c4a5a;
--n41: #3e4d5d;
--n42: #405060;
--n43: #435364;
--n44: #455667;
--n45: #47586a;
--n46: #4a5b6e;
--n47: #4c5e71;
--n48: #4e6175;
--n49: #516478;
--n50: #53677b;
--n51: #566a7f;
--n52: #586d82;
--n53: #5b7086;
--n54: #5d7389;
--n55: #60768d;
--n56: #627990;
--n57: #657c93;
--n58: #697e96;
--n59: #6c8198;
--n60: #6f849b;
--n61: #73879d;
--n62: #768aa0;
--n63: #7a8da2;
--n64: #7d90a5;
--n65: #8193a7;
--n66: #8496aa;
--n67: #8899ac;
--n68: #8b9caf;
--n69: #8f9fb1;
--n70: #92a3b4;
--n71: #96a6b6;
--n72: #9aa9b9;
--n73: #9dacbb;
--n74: #a1afbe;
--n75: #a4b2c0;
--n76: #a8b5c3;
--n77: #acb8c6;
--n78: #afbbc8;
--n79: #b3becb;
--n80: #b7c2cd;
--n81: #bac5d0;
--n82: #bec8d2;
--n83: #c2cbd5;
--n84: #c6ced8;
--n85: #c9d1da;
--n86: #cdd5dd;
--n87: #d1d8df;
--n88: #d5dbe2;
--n89: #d8dee5;
--n90: #dce2e7;
--n91: #e0e5ea;
--n92: #e4e8ed;
--n93: #e8ebef;
--n94: #eceff2;
--n95: #eff2f4;
--n96: #f3f5f7;
--n97: #f7f8fa;
--n98: #fbfcfc;
--n99: #ffffff;
--p00: #000000;
--p01: #000000;
--p02: #000000;
--p03: #000000;
--p04: #000001;
--p05: #000001;
--p06: #000102;
--p07: #000103;
--p08: #010204;
--p09: #010306;
--p10: #010408;
--p11: #01050b;
--p12: #02060e;
--p13: #020811;
--p14: #030a14;
--p15: #030c17;
--p16: #040e1a;
--p17: #05111d;
--p18: #061320;
--p19: #071524;
--p20: #081727;
--p21: #091a2a;
--p22: #0b1c2e;
--p23: #0c1f31;
--p24: #0d2135;
--p25: #0f2438;
--p26: #10263c;
--p27: #12293f;
--p28: #132b43;
--p29: #152e46;
--p30: #16304a;
--p31: #18334e;
--p32: #193551;
--p33: #1b3855;
--p34: #1c3b59;
--p35: #1e3d5d;
--p36: #1f4061;
--p37: #214364;
--p38: #234668;
--p39: #24486c;
--p40: #264b70;
--p41: #274e74;
--p42: #295178;
--p43: #2b547c;
--p44: #2c5680;
--p45: #2e5984;
--p46: #305c88;
--p47: #315f8c;
--p48: #346290;
--p49: #366594;
--p50: #386898;
--p51: #3a6b9b;
--p52: #3c6e9f;
--p53: #3e71a3;
--p54: #4174a7;
--p55: #4377ab;
--p56: #457aaf;
--p57: #477db2;
--p58: #4980b6;
--p59: #4c83ba;
--p60: #4e86be;
--p61: #5089c2;
--p62: #528cc6;
--p63: #558fca;
--p64: #5792ce;
--p65: #5996d2;
--p66: #5d99d5;
--p67: #619cd8;
--p68: #659fda;
--p69: #69a2dd;
--p70: #6da5df;
--p71: #71a8e1;
--p72: #75ace4;
--p73: #79afe6;
--p74: #7db2e9;
--p75: #81b5eb;
--p76: #85b8ed;
--p77: #89bbf0;
--p78: #8dbff2;
--p79: #92c2f3;
--p80: #98c5f4;
--p81: #9dc8f5;
--p82: #a3cbf5;
--p83: #a8cef6;
--p84: #aed1f7;
--p85: #b3d4f8;
--p86: #b9d7f8;
--p87: #bedaf9;
--p88: #c3def9;
--p89: #c9e1fa;
--p90: #cee4fb;
--p91: #d4e7fb;
--p92: #d9eafc;
--p93: #deedfc;
--p94: #e4f0fd;
--p95: #e9f3fd;
--p96: #eff6fe;
--p97: #f4f9fe;
--p98: #fafcff;
--p99: #ffffff;
}