.prose-content {
  & > * {
    margin-block: 18px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    font-weight: 700;
    margin-top: 64px;
    scroll-margin-top: 70px;
  }

  & h1 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);
  }

  & h2 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }

  & h3 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  & h4,
  & h5,
  & h6 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }

  & ul {
    list-style-type: disc;
    padding-left: 24px;
  }

  & ol {
    list-style-type: decimal;
    padding-left: 24px;
  }

  & li {
    margin-block: 6px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & blockquote {
    border-left: 4px solid var(--color-cBorder);
    color: var(--color-cTextDim);
    font-style: italic;
    padding-left: 16px;
  }

  & img {
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    /* cursor: zoom-in; */
  }

  & pre {
    border-radius: 6px;
    font-size: 0.9em;
    position: relative;
    & code {
      display: block;
      overflow-x: auto;
      padding: 14px;
      &::before {
        content: attr(data-language);
        position: absolute;
        top: 4px;
        right: 4px;
        line-height: 1;
        font-size: var(--text-xs);
        color: --alpha(white / 50%);
        font-weight: 500;
        pointer-events: none;
      }
    }
  }

  & a:not(.heading-link) {
    color: var(--color-cTextLink);
    text-decoration: underline;
    text-underline-offset: 2px;
    &:hover {
      text-decoration: none;
    }
  }

  & a.heading-link {
    text-underline-offset: 2px;
    &:hover {
      text-decoration: underline;
    }
  }

  & code:not(pre code) {
    background-color: var(--color-cBgInlineCode);
    padding: 1px 3px;
    border-radius: 4px;
    font-family: var(--font-mono);
    font-size: 0.9em;
  }
}
